<footer class='footer' id='footer' >

    <article class='footer-column logo-container' >
        <h1 class='logo'><a href='/'>LOGO</a></h1>
    </article>

    <article class='footer-column'>
        <h2>Contato</h2>
        <p>
            <i class="fas fa-phone"></i>
            <span>(11)4444-4444</span>
        </p>
        <p>
            <i class="fab fa-whatsapp"></i>
            <span>(11)95555-5555</span>
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            <strong>silasmelo.unicsul@gmail.com</strong>
        </p>
        <p>
            <i class="fas fa-map-marker-alt"></i>
            <span>Av Paulista, 1415.</span>
        </p>
        <p>Bela Vista - São Paulo - SP</p>
        <p>Proximo a estação Trianon</p>
    </article>

    <article class='footer-column'>
        <h2>Redes Sociais</h2>
        <p><a href='https://www.facebook.com'>
            <i class="fab fa-facebook-square"></i>
            <span>Facebook</span>
        </a></p>
        <p><a href='https://www.twitter.com'>
            <i class="fab fa-twitter"></i>
            <span>Twitter</span>
        </a></p>
        <p><a href='https://www.instagram.com'>
            <i class="fab fa-instagram"></i>
            <span>Instagram</span>
        </a></p>
        <p><a href='https://www.github.com/silasmelo17'>
            <i class="fab fa-github"></i>
            <span>Github</span>
        </a></p>
        <p><a href='https://www.linkedin.com/in/silas-melo-60b36b173'>
            <i class="fab fa-linkedin"></i>
            <span>Linkedin</span>
        </a></p>
    </article>

    <article class='copyright' >
        <p>© 2020 - Todos os Direitos Reservados.</p>
    </article>

    <script src='/public/_javascript/index.js'></script>
</footer>