<header class='header' id='mainHeader' >
    <section class='slogan'>
        <h1 class='logo'><a href='/'>logo</a></h1>
        <span> Slogan da sua empresa </span>
    </section>

    <nav class='navbar' id='menu' >
        <ul>
            <li><a href="/">
                <i class="fas fa-home"></i>
                <span>home</span>
            </a></li>
            <li><a href="/receitas">
                <i class="fas fa-hamburger"></i>
                <span>receitas</span>
            </a></li>
            <li><a href="/contato">
                <i class="fas fa-comment"></i>
                <span>Contato</span>
            </a></li>
            <li><a href="/sobre">
                <i class="fas fa-question"></i>
                <span>Sobre</span>
            </a></li>
        </ul>
    </nav>
</header>
